@if (Tile is not null)
{
	<div class="flip-card" @onclick="HandleTileClick" style="@TileSize">
		<div class="flip-card-inner @flipTileClass @matchedTileClass">
			<div class="flip-card-front">
				<p class="fs-1">@(Tile.ShowNumber ? Tile.PositionId : "T")</p>
			</div>

			@if (Tile.IsShown && !Tile.IsMatched)
			{
				@if (Tile.ContentIsImage())
				{
					<div class="flip-card-back flip-card-back-image">
						<img src="@Tile.Content" alt="Tile-@Tile.PositionId" />
					</div>
				}
				else
				{
					<div class="flip-card-back flip-card-back-icon">
						<i class="fs-1 tile-icon @Tile.Content"></i>
					</div>
				}
			}
		</div>
	</div>
}

@code {
	[Parameter, EditorRequired] public TileModel? Tile { get; set; }
	[Parameter, EditorRequired] public EventCallback<TileModel> OnTileClick { get; set; }
	[Parameter] public string TileSize { get; set; } = "height: 150px; width: 150px";
	

	private string flipTileClass => Tile?.IsShown ?? true ? "flip-card-inner-shown" : "";

	private string matchedTileClass => Tile?.IsMatched ?? true ? "flip-card-matched" : "";

	private async Task HandleTileClick()
	{
		if (Tile == null || Tile.IsShown) return;
		await OnTileClick.InvokeAsync(Tile);
	}
}
